{% block widget_heading %}
  {% if widgetHeading is defined %}
    <h3>{{ widgetHeading|trans }}</h3>
  {% endif %}
{% endblock %}

{% block widget %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
{% endblock %}

