<h3>{% trans %}Search Result{% endtrans %}</h3>
{% for product in productList %}
  <p>{% trans %}Product UPC:{% endtrans %} {{ product.upc }}</p>
  <p>{% trans %}Product Name:{% endtrans %} {{ product.name }}</p>
  <p>{% trans %}Product Description:{% endtrans %} {{ product.description }}</p>
{% endfor %}
