{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Search Product{% endtrans %}
{% endblock %}

{% block body %}

  <form action="#" method="post">
    <label for="product_name">{% trans %}Product Name{% endtrans %}</label><input type="text" id="product_name" />
  </form>

  <div id="searchResult"></div>

{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script type="text/javascript">
    $("document").ready(function(){
      $("#product_name").keyup(function(){
        $product_name = $("#product_name").val();
        $.ajax({
          type: "POST",
          url: "/listProduct",
          data: {"name": $product_name},
          success: function(response) {
            $("#searchResult").html(response);
          }
        });
       });
    }); 
  </script>

{% endblock %}
