{% extends 'base.html.twig' %}

{% block title %}
  {{ 'product.search'|trans }}
{% endblock %}

{% block body %}
  <h3>{{ 'product.search'|trans }}</h3>
  <form action="#" method="post">
    <label for="product_name">{{ 'product.name'|trans }}</label><input type="text" id="product_name" />
  </form>
  <div id="productSearchResult"></div>
{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script type="text/javascript">
    $("document").ready(function(){
      $("#product_name").keyup(function(){
        $product_name = $("#product_name").val();
        $.ajax({
          type: "POST",
          url: "/listProduct",
          data: {"name": $product_name},
          success: function(response) {
            $("#productSearchResult").html(response);
          }
        });
       });
    }); 
  </script>

{% endblock %}
