{% extends 'base.html.twig' %}

{% block title %}
  {{ 'company.search'|trans }}
{% endblock %}

{% block body %}
  <h3>{{ 'company.search'|trans }}</h3>
  {% include 'company/company_search_widget.html.twig' with {'selectable' : false} %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
