{% extends 'base_widget.html.twig' %}

{% block widget %}

  <form action="#" method="post">
    <label for="vendor_product_name">{{ 'vendor.product.name'|trans }}</label>
    <input type="text" id="vendor_product_name" />
  </form>

  <div id="inventorySearchResult"></div>

{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script type="text/javascript">
    $(function(){
      $("#vendor_product_name").keyup(function(){
        $vendorProductName = $("#vendor_product_name").val();
        $.ajax({
          type: "POST",
          url: "/inventory/list",
          data: {"vendorProductName": $vendorProductName, "selectable": "{{ selectable }}" },
          success: function(response) {
            $("#inventorySearchResult").html(response);
          }
        });
       });
    }); 
  </script>

{% endblock %}
